<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/StylesTable.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="table">
                    <thead>
                        <tr>
                            <th >TT</th>
                            <th >Họ Tên</th>
                            <th >Ngày, tháng, năm sinh</th>
                            <th >Giới tính</th>
                            <th >Quan hệ</th>
                            <th >Nghề nghiệp</th>
                            <th >Địa chỉ chỗ ở hiện nay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="TT">1</td>
                            <td data-label="Họ Tên">
                                <input type="text" class="form-control" name="hotengd1" placeholder="Họ và tên" />
                            </td>
                            <td data-label="Ngày, tháng, năm sinh">
                                <input type="text" class="form-control" name="ngaysinhgd1" placeholder="ngày,tháng,năm sinh" />
                            </td>
                            <td data-label="Giới tính">
                                <input type="text" class="form-control" name="gioitinhgd1" placeholder="Giới tính" />
                            </td>
                            <td data-label="Quan hệ">
                                <input type="text" class="form-control" name="quanhegd1" placeholder="Quan hệ" />
                            </td>
                            <td data-label="Nghề nghiệp">
                                <input type="text" class="form-control" name="nghenghiepgd1" placeholder="Nghề nghiệp" />
                            </td>
                            <td data-label="Địa chỉ chỗ ở hiện nay">
                                <input type="text" class="form-control" name="diachigd1" placeholder="Địa chỉ" />
                            </td>
                        </tr>
                        <tr>
                            <td data-label="TT">2</td>
                            <td data-label="Họ Tên">
                                <input type="text" class="form-control" name="hotengd2" placeholder="Họ và tên" />
                            </td>
                            <td data-label="Ngày, tháng, năm sinh">
                                <input type="text" class="form-control" name="ngaysinhgd2" placeholder="ngày,tháng,năm sinh" />
                            </td>
                            <td data-label="Giới tính">
                                <input type="text" class="form-control" name="gioitinhgd2" placeholder="Giới tính" />
                            </td>
                            <td data-label="Quan hệ">
                                <input type="text" class="form-control" name="quanhegd2" placeholder="Quan hệ" />
                            </td>
                            <td data-label="Nghề nghiệp">
                                <input type="text" class="form-control" name="nghenghiepgd2" placeholder="Nghề nghiệp" />
                            </td>
                            <td data-label="Địa chỉ chỗ ở hiện nay">
                                <input type="text" class="form-control" name="diachigd2" placeholder="Địa chỉ" />
                            </td>
                        </tr>
                        <tr>
                            <td data-label="TT">3</td>
                            <td data-label="Họ Tên">
                                <input type="text" class="form-control" name="hotengd3" placeholder="Họ và tên" />
                            </td>
                            <td data-label="Ngày, tháng, năm sinh">
                                <input type="text" class="form-control" name="ngaysinhgd3" placeholder="ngày,tháng,năm sinh" />
                            </td>
                            <td data-label="Giới tính">
                                <input type="text" class="form-control" name="gioitinhgd3" placeholder="Giới tính" />
                            </td>
                            <td data-label="Quan hệ">
                                <input type="text" class="form-control" name="quanhegd3" placeholder="Quan hệ" />
                            </td>
                            <td data-label="Nghề nghiệp">
                                <input type="text" class="form-control" name="nghenghiepgd3" placeholder="Nghề nghiệp" />
                            </td>
                            <td data-label="Địa chỉ chỗ ở hiện nay">
                                <input type="text" class="form-control" name="diachigd3" placeholder="Địa chỉ" />
                            </td>
                        </tr>
                        <tr>
                            <td data-label="TT">4</td>
                            <td data-label="Họ Tên">
                                <input type="text" class="form-control" name="hotengd4" placeholder="Họ và tên" />
                            </td>
                            <td data-label="Ngày, tháng, năm sinh">
                                <input type="text" class="form-control" name="ngaysinhgd4" placeholder="ngày,tháng,năm sinh" />
                            </td>
                            <td data-label="Giới tính">
                                <input type="text" class="form-control" name="gioitinhgd4" placeholder="Giới tính" />
                            </td>
                            <td data-label="Quan hệ">
                                <input type="text" class="form-control" name="quanhegd4" placeholder="Quan hệ" />
                            </td>
                            <td data-label="Nghề nghiệp">
                                <input type="text" class="form-control" name="nghenghiepgd4" placeholder="Nghề nghiệp" />
                            </td>
                            <td data-label="Địa chỉ chỗ ở hiện nay">
                                <input type="text" class="form-control" name="diachigd4" placeholder="Địa chỉ" />
                            </td>
                        </tr>
                        <tr>
                            <td data-label="TT">5</td>
                            <td data-label="Họ Tên">
                                <input type="text" class="form-control" name="hotengd5" placeholder="Họ và tên" />
                            </td>
                            <td data-label="Ngày, tháng, năm sinh">
                                <input type="text" class="form-control" name="ngaysinhgd5" placeholder="ngày,tháng,năm sinh" />
                            </td>
                            <td data-label="Giới tính">
                                <input type="text" class="form-control" name="gioitinhgd5" placeholder="Giới tính" />
                            </td>
                            <td data-label="Quan hệ">
                                <input type="text" class="form-control" name="quanhegd5" placeholder="Quan hệ" />
                            </td>
                            <td data-label="Nghề nghiệp">
                                <input type="text" class="form-control" name="nghenghiepgd5" placeholder="Nghề nghiệp" />
                            </td>
                            <td data-label="Địa chỉ chỗ ở hiện nay">
                                <input type="text" class="form-control" name="diachigd5" placeholder="Địa chỉ" />
                            </td>
                        </tr>
                        <tr>
                            <td data-label="TT">6</td>
                            <td data-label="Họ Tên">
                                <input type="text" class="form-control" name="hotengd6" placeholder="Họ và tên" />
                            </td>
                            <td data-label="Ngày, tháng, năm sinh">
                                <input type="text" class="form-control" name="ngaysinhgd6" placeholder="ngày,tháng,năm sinh" />
                            </td>
                            <td data-label="Giới tính">
                                <input type="text" class="form-control" name="gioitinhgd6" placeholder="Giới tính" />
                            </td>
                            <td data-label="Quan hệ">
                                <input type="text" class="form-control" name="quanhegd6" placeholder="Quan hệ" />
                            </td>
                            <td data-label="Nghề nghiệp">
                                <input type="text" class="form-control" name="nghenghiepgd6" placeholder="Nghề nghiệp" />
                            </td>
                            <td data-label="Địa chỉ chỗ ở hiện nay">
                                <input type="text" class="form-control" name="diachigd6" placeholder="Địa chỉ" />
                            </td>
                        </tr>
                    </tbody>
                </table>
        @RenderBody()
    </div>
</body>
</html>
