@{
    ViewBag.Title = "GuiMaXN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="@Url.Action("GuiMaXN", "Home")" class="needs-validation" novalidate method="post">
    <br />

    <h2 style="text-align: center">NHẬP MÃ XÁC THỰC</h2>
    <h6 style="text-align: center">Vui lòng kiểm tra email trước khi nhập mã xác thực</h6>
    <br />
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <input class="form-control" type="text" name="txtma" placeholder="Nhập mã xác thực.." required>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <button id="button" type="submit" class="btn btn-primary" style="font-size: large">Xác nhận</button>
            <p style="color:red">@ViewBag.Thongbao</p>
        </div>
        <div class="col-md-5"></div>
    </div>
</form>
