@{
    ViewBag.Title = "HoanThanh";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 style="font:bold">HOÀN THÀNH ĐĂNG KÝ</h2>
    </div>
    <div class="col-md-2"></div>
</div>
