@{
    ViewBag.Title = "HuongDanKhaiThayDoiNhanKhau";
}

<p style="text-align: left;"><b><span style="color: red;">Hướng dẫn chi tiết cách ghi</span></b></p>
<div style="text-align: justify;">
    <span style="color: #274e13;"><b>Mục Kính gởi:</b>&nbsp;</span>Ghi công an cấp quận, huyện, thành phố hoặc công an cấp xã nơi có thẩm quyền xác nhận, ký và đóng dấu vào sổ hộ khẩu (tức công an nơi đến làm thủ tục)
</div>
<p style="text-align: left;"><b><span style="color: #274e13;">Phần&nbsp;I.&nbsp;Thông tin về người viết phiếu báo</span></b></p>
<div style="text-align: justify;">
    Người viết phiếu báo là người trực tiếp kê khai thông tin vào mẫu. Người viết phiếu báo có thể là người có thay đổi thông tin hoặc chủ hộ hoặc là người viết hộ.
</div>
<div style="text-align: justify;">
    - Mục&nbsp;<i>“1. Họ và tên”</i>: Ghi bằng chữ in hoa, đủ dấu (viết đúng họ, chữ đệm và tên ghi trong giấy khai sinh). Ví dụ: NGUYỄN VĂN A
</div>
<div style="text-align: justify;">
    - Mục&nbsp;<i>“2. Giới tính”</i>: Ghi giới tính Nam hoặc Nữ.
</div>
<div style="text-align: justify;">
    - Mục&nbsp;<i>“3. CMND số”&nbsp;</i>và mục&nbsp;<i>“4. Hộ chiếu số”</i>: Ghi đầy đủ số CMND (hoặc số căn cước công dân) và số hộ chiếu (nếu có cả hai giấy tờ này);
</div>
<div style="text-align: justify;">
    -&nbsp; Mục&nbsp;<i>“5. Nơi thường trú”:</i>&nbsp;Ghi theo địa chỉ trong sổ hộ khẩu (số nhà, phố, đường phố; tổ, thôn, xóm, làng, ấp, bản, buôn, phum, sóc; xã, phường, thị trấn; huyện, quận, thị xã, thành phố thuộc tỉnh; tỉnh, thành phố thuộc Trung ương)
</div>
<div style="text-align: justify;">
    -&nbsp; Mục<i>“6. Địa chỉ chổ ở hiện nay”</i>: Ghi theo địa chỉ hiện tại đang ở (Ghi cụ thể, đầy đủ số nhà, phố, đường phố; tổ, thôn, xóm, làng, ấp, bản, buôn, phum, sóc; xã, phường, thị trấn; huyện, quận, thị xã, thành phố thuộc tỉnh; tỉnh, thành phố trực thuộc Trung ương). Địa chỉ chỗ ở hiện nay có thể khác với nơi thường trú.<br>
    <div style="text-align: justify;">
        <b>Ví dụ:</b>&nbsp;thôn Vân Hội 2, thị trấn Diêu Trì, huyện Tuy Phước, tỉnh Bình Định hoặc số nhà 10 đường Diên Hồng, phường Lý Thường Kiệt, Tp Quy Nhơn, tỉnh Bình Định. Trường hợp ở nước ngoài về đăng ký cư trú thì ghi rõ địa chỉ cư trú ở nước ngoài&nbsp;<i>(ghi rõ tên nước phiên âm bằng tiếng Việt).</i>
    </div>
</div>
<p style="text-align: left;"><b><span style="color: #274e13;"><span style="background-color: white;">Phần II.&nbsp;</span>Thông tin về người có thay đổi hộ khẩu, nhân khẩu</span></b></p>
<div style="text-align: justify;">
    <div style="text-align: justify;">
        <b><span style="color: red;">Lưu ý:</span></b>&nbsp;<i><u>N</u></i><u><i>gười viết phiếu báo</i></u> ở phần&nbsp;<b>I</b>&nbsp;và <u><i>Người có thay đổi nhân&nbsp; khẩu, hộ khẩu</i></u> ở phần&nbsp;<b>II</b>&nbsp;có thể giống hoặc khác nhau (ví dụ: chủ hộ viết thay cho người có thay đổi hoặc trong trường hợp có nhiều người trong hộ khẩu cùng thay đổi và cử ra 1 người đại diện viết phiếu báo).&nbsp;Nếu người viết phiếu báo cũng là người có thay đổi hộ khẩu thì những nội dung kê khai ở phần I và phần II là giống nhau nên có thể không cần kê khai phần I.<br>
        - Mục&nbsp;<i>“1. Họ và tên” và</i>&nbsp;Mục&nbsp;<i>“2. Giới tính”</i>: Ghi như hướng dẫn ở phần I.<br>
        - Mục&nbsp;<i>“3. Ngày, tháng, năm sinh”</i>: Ghi ngày, tháng, năm dương lịch (theo giấy khai sinh); ghi 02 chữ số cho ngày sinh, 02 chữ số cho các tháng sinh là tháng 01 và tháng 02, 04 chữ số cho năm sinh;<br>
        - Mục&nbsp;<i>“4. Dân tộc”</i>: Ghi theo giấy khai sinh (Ghi tên dân tộc gốc của bản thân như: Kinh, Thái, Tày, Nùng, Mường...). Nếu không có giấy khai sinh thì ghi theo sổ hộ khẩu, CMND, căn cước công dân hoặc giấy tờ khác.<br>
        - Mục&nbsp;<i>“5. Quốc tịch</i>”: Ghi "Việt Nam" hoặc quốc tịch khác (nếu có).<br>
        - Mục&nbsp;<i>“6. CMND số”&nbsp;</i>và mục&nbsp;<i>“7. Hộ chiếu số”</i>: Ghi như hướng dẫn ở phần I.<br>
        - Mục&nbsp;<i>“8. Nơi sinh”</i>: Ghi theo giấy khai sinh. Ví dụ: Nơi sinh: xã Bắc Phú, Huyện Sóc Sơn, Tp. Hà Nội.<br>
        - Mục&nbsp;<i>“9. Quê quán” (hoặc Nguyên quán)</i>: Ghi theo giấy khai sinh. Nếu không có giấy khai sinh hoặc giấy khai sinh không có mục này thì ghi theo nguồn gốc, xuất xứ của ông, bà nội hoặc ông, bà ngoại. Nếu không xác định được ông, bà nội hoặc ông bà ngoại thì ghi theo nguồn gốc, xuất xứ của cha hoặc mẹ. Phải ghi theo cấp xã, huyện, tỉnh. Nếu địa danh hành chính đã thay đổi thì ghi theo địa danh hành chính hiện tại.<br>
        - Mục&nbsp;<i>“10. Nghề nghiệp, nơi làm việc”</i>: Ghi rõ hiện nay làm công việc chính là gì, tên cơ quan, đơn vị, tổ chức, địa chỉ nơi làm việc. Ví dụ: Sinh viên trường Đại học Kinh tế Tp HCM; bác sĩ ngoại khoa hoặc chưa có việc làm.<br>
        <div style="text-align: justify;">
            <div style="text-align: justify;">
                - Mục&nbsp;<i>“11. Nơi thường trú”&nbsp;</i>và mục&nbsp;<i>“12. Địa chỉ chổ ở hiện nay”</i>: Ghi như hướng dẫn ở trên.
            </div>
        </div>
    </div>
</div>
- Mục&nbsp;<i>“13. Họ và tên chủ hộ”</i>&nbsp;và&nbsp;<i>“14. Quan hệ với chủ hộ”</i>&nbsp;ghi như sau:</div>