@{
    ViewBag.Title = "HuongDanKhaiBaoNhanKhau";
}

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <br />
        <br />
        <br />
        <h1 style="text-align:center;font:bold">HƯỚNG DẪN KHAI BÁO NHÂN KHẨU</h1>
        <br />
        <br />
        <br />
        <h2><strong>Hướng dẫn chi tiết cách ghi Bản khai nhân khẩu mẫu HK01</strong></h2>

        <p>Khi ghi thông tin về cá nhân phải căn cứ vào giấy khai sinh và các giấy tờ hộ tịch khác. Nếu không có các giấy tờ trên thì ghi theo sổ hộ khẩu, chứng minh nhân dân, hộ chiếu Việt Nam hoặc giấy tờ khác do cơ quan có thẩm quyền cấp.</p>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <img src="../Hinh/Mau HK01-min.png" width="500px" height="900px" style="text-align:center" />
                <br />
                <i>Hướng dẫn chi tiết cách ghi Bản khai nhân khẩu mẫu HK01 (Ảnh minh họa)</i>
            </div>
            <div class="col-md-3"></div>
        </div>
       
        <p><strong>1. Mục “Họ và tên”:</strong> Ghi bằng chữ in hoa, đủ dấu;</p>

        <p><strong>2. Mục “Ngày, tháng, năm sinh”:</strong> Xác định theo ngày, tháng, năm dương lịch và được ghi đầy đủ 02 chữ số cho ngày sinh, 02 chữ số cho các tháng sinh là tháng 01 và tháng 02, 04 chữ số cho năm sinh;</p>

        <p><strong>3. Mục “Giới tính”:</strong> Nếu giới tính nam thì ghi là Nam, nếu giới tính nữ thì ghi là Nữ;</p>

        <p><strong>4. Mục “Nơi sinh”:</strong> Ghi nơi sinh theo giấy khai sinh;</p>

        <p><strong>5. Mục “Nguyên quán”:</strong> Ghi nguyên quán theo giấy khai sinh.</p>

        <p>Trường hợp không có giấy khai sinh hoặc giấy khai sinh không có mục này thì ghi theo nguyên quán của ông, bà nội hoặc ông, bà ngoại.</p>

        <p>Nếu không xác định được ông, bà nội hoặc ông bà ngoại thì ghi theo nguyên quán của cha hoặc mẹ.</p>

        <p>Phải ghi cụ thể địa danh hành chính cấp xã, cấp huyện, cấp tỉnh. Trường hợp địa danh hành chính đã có thay đổi thì ghi theo địa danh hành chính hiện tại;</p>

        <p><strong>6. Mục “Dân tộc” và “Tôn giáo”:</strong> Ghi dân tộc, tôn giáo theo giấy khai sinh. Trường hợp không có giấy khai sinh thì ghi theo sổ hộ khẩu, chứng minh nhân dân hoặc giấy tờ khác do cơ quan có thẩm quyền cấp;</p>

        <p><strong>7. Mục “Quốc tịch”:</strong> Ghi quốc tịch Việt Nam, quốc tịch khác (nếu có);</p>

        <p><strong>8. Mục “CMND số” và mục “Hộ chiếu số”:</strong> Ghi đầy đủ số chứng minh nhân dân và số hộ chiếu (nếu có cả hai giấy tờ này);</p>

        <p><strong>9. Mục “Nơi thường trú” và mục “Địa chỉ nơi ở hiện tại”:</strong></p>

        <p>Ghi cụ thể, đầy đủ số nhà, phố, đường phố; tổ, thôn, xóm, làng, ấp, bản, buôn; số nhà, phố, đường phố; tổ, thôn, xóm, làng, ấp, bản, buôn, phum, sóc; xã, phường, thị trấn; huyện, quận, thị xã, thành phố thuộc tỉnh; tỉnh, thành phố trực thuộc Trung ương.</p>

        <p>Trường hợp ở nước ngoài về đăng ký cư trú thì ghi rõ địa chỉ cư trú ở nước ngoài (ghi rõ phiên âm bằng tiếng Việt).</p>

        <p><strong>11. Mục “Trình độ học vấn”: </strong>Ghi rõ trình độ học vấn cao nhất (Tiến sĩ, Thạc sĩ, Đại học, Cao đẳng, Trung cấp, tốt nghiệp phổ thông trung học, tốt nghiệp phổ thông cơ sở…; nếu không biết chữ thì ghi rõ “không biết chữ”).</p>

        <p><strong>12. Mục “Trình độ chuyên môn”: </strong>Ghi rõ chuyên ngành được đào tạo hoặc trình độ tay nghề, bậc thợ, chuyên môn kỹ thuật khác được ghi trong văn bằng, chứng chỉ.</p>

        <p><strong>13. Mục “Trình độ ngoại ngữ”: </strong>Ghi rõ tên văn bằng, chứng chỉ ngoại ngữ cao nhất được cấp.</p>

        <p><strong>14. Mục “Nghề nghiệp, nơi làm việc”:</strong> Ghi rõ hiện nay làm nghề gì và tên cơ quan, đơn vị, tổ chức, địa chỉ nơi làm việc.</p>

        <p><strong>15. Mục “Tóm tắt về bản thân” (Từ đủ 14 tuổi trở lên đến nay ở đâu, làm gì): </strong>Ghi rõ từng khoảng thời gian (từ tháng, năm đến tháng, năm) thay đổi về chỗ ở và nghề nghiệp, nơi làm việc.</p>

        <p><strong>16. Mục “Tiền án” (Tội danh, hình phạt, theo bản án số, ngày, tháng, năm của Tòa án): </strong></p>

        <p><strong>- </strong>Ghi rõ tội danh, hình phạt theo bản án số, ngày, tháng, năm của Tòa án;</p>

        <p>- Đã được xóa án tích hay chưa hoặc đang trong giai đoạn bị khởi tố, điều tra, truy tố, xét xử;</p>

        <p>- Đã hoặc đang chấp hành hình phạt;</p>

        <p>- Bị kết án phạt tù hay được hưởng án treo; hình phạt bổ sung;</p>

        <p>- Đã hoặc đang bị áp dụng biện pháp ngăn chặn của tố tụng hình sự hoặc bị áp dụng biện pháp giáo dục tại xã, phường, thị trấn, đưa vào trường giáo dưỡng; đưa vào cơ sở giáo dục bắt buộc và đưa vào cơ sở cai nghiện bắt buộc. Ghi rõ thời gian bị áp dụng biện pháp đó.</p>

        <p><strong>Lưu ý:</strong></p>

        <p>- Khi có thay đổi thông tin trong bản khai nhân khẩu thì phải khai bổ sung bằng mẫu HK02 và chuyển cho cơ quan đăng ký, quản lý cư trú.</p>


        <p>- Ghi chính xác những nội dung trong biểu mẫu, chữ viết phải rõ ràng, viết cùng một loại mực (mực xanh), không viết tắt.</p>

        <p>- Người đến làm thủ tục đăng ký cư trú không biết chữ hoặc không thể tự kê khai được thì nhờ người khác kê khai hộ theo lời khai của mình. Người kê khai hộ phải ký, ghi rõ họ tên và chịu trách nhiệm về việc kê khai hộ.</p>

        <p>- Nghiêm cấm việc tự ý tẩy xóa, sửa chữa, bổ sung làm sai lệch nội dung đã ghi trong biểu mẫu.</p>
    </div>
    <div class="col-md-1">
    </div>
</div>
