USE [master]
GO
/****** Object:  Database [ql_nhatro]    Script Date: 15-01-2021 12:27:20 SA ******/
CREATE DATABASE [ql_nhatro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ql_nhatro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ql_nhatro.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ql_nhatro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ql_nhatro_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ql_nhatro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ql_nhatro]
GO
/****** Object:  Table [dbo].[CHITIETPHONG]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHONG](
	[MAPHONG] [nchar](10) NOT NULL,
	[MATB] [nchar](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITITETDATPHONG]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITITETDATPHONG](
	[MAPHONG] [nchar](10) NOT NULL,
	[ID_HOADON] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_CHITITETDATPHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC,
	[ID_HOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUTRO]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUTRO](
	[MACT] [nchar](5) NOT NULL,
	[HOTEN] [nvarchar](300) NOT NULL,
	[CMND] [nvarchar](50) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[DIACHI] [nvarchar](500) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[NOICAPCMND] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[MAID] [nchar](30) NOT NULL,
	[MATKHAU] [nvarchar](20) NOT NULL,
	[QUYEN] [nvarchar](100) NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
	[MACT] [nchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DATCOC]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATCOC](
	[MACOC] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](300) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[NGAYDAT] [date] NOT NULL,
	[DIACHI] [nvarchar](500) NOT NULL,
	[TIENCOC] [float] NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
	[MAPHONG] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DATPHONG]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATPHONG](
	[ID_HOADON] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](300) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_DATPHONG] PRIMARY KEY CLUSTERED 
(
	[ID_HOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MAHD] [nchar](10) NOT NULL,
	[NGAYHD] [date] NULL,
	[HOTENNT] [nvarchar](300) NULL,
	[NGAYSINHNT] [date] NULL,
	[NOIDKHK] [nvarchar](500) NULL,
	[CMNDNT] [nvarchar](50) NULL,
	[NGAYCAPCMNDNT] [date] NULL,
	[NOICAPCMNDNT] [nvarchar](500) NULL,
	[EMAIL] [nvarchar](300) NOT NULL,
	[SDTNT] [nchar](10) NULL,
	[DIACHITHUE] [nvarchar](500) NULL,
	[GIATHUE] [float] NULL,
	[HINHTHUCTHANHTOAN] [nvarchar](500) NULL,
	[TIENCOC] [float] NULL,
	[TIENDIEN] [float] NULL,
	[TIENNUOC] [float] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[SONGUOIO] [int] NULL,
	[MATKHAU] [nvarchar](30) NULL,
	[TINHTRANG] [bit] NULL,
	[GHICHU] [nvarchar](500) NULL,
	[MACT] [nchar](5) NOT NULL,
	[MAPHONG] [nchar](10) NOT NULL,
 CONSTRAINT [PK__HOPDONG__603F20CEC02D1C4E] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHTRO]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHTRO](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](300) NULL,
	[HOTENKHAC] [nvarchar](300) NULL,
	[NGAYSINH] [nvarchar](20) NULL,
	[GIOITINH] [nchar](10) NULL,
	[NOISINH] [nvarchar](500) NULL,
	[NGUYENQUAN] [nvarchar](500) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nvarchar](300) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[TONGIAO] [nvarchar](100) NULL,
	[QUOCTICH] [nvarchar](100) NULL,
	[CMNDSO] [nvarchar](50) NULL,
	[HOCHIEUSO] [nvarchar](50) NULL,
	[NOITHUONGTRU] [nvarchar](500) NULL,
	[DIACHIHIENTAI] [nvarchar](500) NULL,
	[HOCVAN] [nvarchar](100) NULL,
	[CHUYENMON] [nvarchar](100) NULL,
	[TIENGDANTOC] [nvarchar](100) NULL,
	[NGOAINGU] [nvarchar](100) NULL,
	[NGHENGHIEPNOILAMVIEC] [nvarchar](500) NULL,
	[NGAYDENNGAY1] [nvarchar](100) NULL,
	[DIACHI1] [nvarchar](500) NULL,
	[NNNLV1] [nvarchar](500) NULL,
	[NGAYDENNGAY2] [nvarchar](100) NULL,
	[DIACHI2] [nvarchar](500) NULL,
	[NNNLV2] [nvarchar](500) NULL,
	[NGAYDENNGAY3] [nvarchar](100) NULL,
	[DIACHI3] [nvarchar](500) NULL,
	[NNNLV3] [nvarchar](500) NULL,
	[NGAYDENNGAY4] [nvarchar](100) NULL,
	[DIACHI4] [nvarchar](500) NULL,
	[NNNLV4] [nvarchar](500) NULL,
	[NGAYDENNGAY5] [nvarchar](100) NULL,
	[DIACHI5] [nvarchar](500) NULL,
	[NNNLV5] [nvarchar](500) NULL,
	[TIENAN] [nvarchar](500) NULL,
	[HOTENGD1] [nvarchar](100) NULL,
	[NGAYSINHGD1] [nvarchar](100) NULL,
	[GIOITINHGD1] [nvarchar](50) NULL,
	[QUANHEGD1] [nvarchar](50) NULL,
	[NGHENGHIEPGD1] [nvarchar](100) NULL,
	[DIACHIGD1] [nvarchar](500) NULL,
	[HOTENGD2] [nvarchar](100) NULL,
	[NGAYSINHGD2] [nvarchar](100) NULL,
	[GIOITINHGD2] [nvarchar](50) NULL,
	[QUANHEGD2] [nvarchar](50) NULL,
	[NGHENGHIEPGD2] [nvarchar](100) NULL,
	[DIACHIGD2] [nvarchar](500) NULL,
	[HOTENGD3] [nvarchar](100) NULL,
	[NGAYSINHGD3] [nvarchar](100) NULL,
	[GIOITINHGD3] [nvarchar](50) NULL,
	[QUANHEGD3] [nvarchar](50) NULL,
	[NGHENGHIEPGD3] [nvarchar](100) NULL,
	[DIACHIGD3] [nvarchar](500) NULL,
	[HOTENGD4] [nvarchar](100) NULL,
	[NGAYSINHGD4] [nvarchar](100) NULL,
	[GIOITINHGD4] [nvarchar](50) NULL,
	[QUANHEGD4] [nvarchar](50) NULL,
	[NGHENGHIEPGD4] [nvarchar](100) NULL,
	[DIACHIGD4] [nvarchar](500) NULL,
	[HOTENGD5] [nvarchar](100) NULL,
	[NGAYSINHGD5] [nvarchar](100) NULL,
	[GIOITINHGD5] [nvarchar](50) NULL,
	[QUANHEGD5] [nvarchar](50) NULL,
	[NGHENGHIEPGD5] [nvarchar](100) NULL,
	[DIACHIGD5] [nvarchar](500) NULL,
	[HOTENGD6] [nvarchar](100) NULL,
	[NGAYSINHGD6] [nvarchar](100) NULL,
	[GIOITINHGD6] [nvarchar](50) NULL,
	[QUANHEGD6] [nvarchar](50) NULL,
	[NGHENGHIEPGD6] [nvarchar](100) NULL,
	[DIACHIGD6] [nvarchar](500) NULL,
	[HINHTHE] [nvarchar](500) NULL,
	[HINHCMNDTRUOC] [nvarchar](500) NULL,
	[HINHCMNDSAU] [nvarchar](max) NULL,
	[MAHD] [nchar](10) NULL,
	[TINHTRANG] [bit] NULL,
	[CHUPHONG] [bit] NULL,
	[LYDOROIPHONG] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MAKV] [nchar](5) NOT NULL,
	[TENKV] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [nchar](10) NOT NULL,
	[TENPHONG] [nvarchar](50) NOT NULL,
	[GIAPHONG] [float] NOT NULL,
	[SONGUOI] [int] NOT NULL,
	[TINHTRANG] [nvarchar](50) NOT NULL,
	[MAKV] [nchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NOT NULL,
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[MACT] [nchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUCO]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCO](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](500) NOT NULL,
	[NGAY] [date] NOT NULL,
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[MAPHONG] [nchar](10) NOT NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THAYDOINHANKHAU]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAYDOINHANKHAU](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [nchar](10) NOT NULL,
	[HOTENNV] [nvarchar](100) NOT NULL,
	[GIOITINHNV] [nvarchar](10) NOT NULL,
	[CMNDSONV] [nvarchar](50) NOT NULL,
	[HOCHIEUNV] [nvarchar](50) NOT NULL,
	[NOITHUONGTRUNV] [nvarchar](1000) NOT NULL,
	[DIACHIHTNV] [nvarchar](1000) NOT NULL,
	[SODTNV] [nvarchar](20) NOT NULL,
	[HOTENNTD] [nvarchar](300) NOT NULL,
	[GIOITINHNTD] [nvarchar](10) NOT NULL,
	[NGAYSINHNTD] [date] NOT NULL,
	[DANTOCNTD] [nvarchar](100) NOT NULL,
	[QUOCTICHNTD] [nvarchar](100) NOT NULL,
	[CMNDSONTD] [nvarchar](50) NOT NULL,
	[HOCHIEUNTD] [nvarchar](50) NOT NULL,
	[NOISINHNTD] [nvarchar](500) NOT NULL,
	[QUEQUANNTD] [nvarchar](500) NOT NULL,
	[NGHENGHIEPNLVNTD] [nvarchar](1000) NOT NULL,
	[NOITHUONGTRUNTD] [nvarchar](1000) NOT NULL,
	[DIACHIHTNTD] [nvarchar](1000) NOT NULL,
	[SODTNTD] [nvarchar](20) NOT NULL,
	[HOTENCHUHO] [nvarchar](300) NOT NULL,
	[QUANHECHUHO] [nvarchar](300) NOT NULL,
	[NOIDUNGTHAYDOI] [nvarchar](1000) NOT NULL,
	[HOTENTD1] [nvarchar](300) NOT NULL,
	[NGAYSINHTD1] [nvarchar](20) NOT NULL,
	[GIOITINHTD1] [nvarchar](10) NOT NULL,
	[NOISINHTD1] [nvarchar](100) NOT NULL,
	[NGHENGHIEPTD1] [nvarchar](500) NOT NULL,
	[DANTOCTD1] [nvarchar](100) NOT NULL,
	[QUOCTICHTD1] [nvarchar](100) NOT NULL,
	[CMNDTD1] [nvarchar](50) NOT NULL,
	[QUANHETD1] [nvarchar](50) NOT NULL,
	[HOTENTD2] [nvarchar](300) NOT NULL,
	[NGAYSINHTD2] [nvarchar](20) NOT NULL,
	[GIOITINHTD2] [nvarchar](10) NOT NULL,
	[NOISINHTD2] [nvarchar](100) NOT NULL,
	[NGHENGHIEPTD2] [nvarchar](500) NOT NULL,
	[DANTOCTD2] [nvarchar](100) NOT NULL,
	[QUOCTICHTD2] [nvarchar](100) NOT NULL,
	[CMNDTD2] [nvarchar](50) NOT NULL,
	[QUANHETD2] [nvarchar](100) NOT NULL,
	[HOTENTD3] [nvarchar](300) NOT NULL,
	[NGAYSINHTD3] [nvarchar](20) NOT NULL,
	[GIOITINHTD3] [nvarchar](10) NOT NULL,
	[NOISINHTD3] [nvarchar](50) NOT NULL,
	[NGHENGHIEPTD3] [nvarchar](500) NOT NULL,
	[DANTOCTD3] [nvarchar](100) NOT NULL,
	[QUOCTICHTD3] [nvarchar](100) NOT NULL,
	[CMNDTD3] [nvarchar](50) NOT NULL,
	[QUANHETD3] [nvarchar](100) NOT NULL,
	[HOTENTD4] [nvarchar](300) NOT NULL,
	[NGAYSINHTD4] [nvarchar](20) NOT NULL,
	[GIOITINHTD4] [nvarchar](10) NOT NULL,
	[NOISINHTD4] [nvarchar](50) NOT NULL,
	[NGHENGHIEPTD4] [nvarchar](500) NOT NULL,
	[DANTOCTD4] [nvarchar](100) NOT NULL,
	[QUOCTICHTD4] [nvarchar](100) NOT NULL,
	[CMNDTD4] [nvarchar](50) NOT NULL,
	[QUANHETD4] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATB] [nchar](5) NOT NULL,
	[TENTB] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 15-01-2021 12:27:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](500) NOT NULL,
	[NGAYDANG] [date] NOT NULL,
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[MACT] [nchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[CHITIETPHONG] ([MAPHONG], [MATB], [SOLUONG]) VALUES (N'PHONG00001', N'TB001', 1)
INSERT [dbo].[CHITIETPHONG] ([MAPHONG], [MATB], [SOLUONG]) VALUES (N'PHONG00001', N'TB002', 1)
INSERT [dbo].[CHITIETPHONG] ([MAPHONG], [MATB], [SOLUONG]) VALUES (N'PHONG00001', N'TB003', 1)
GO
INSERT [dbo].[CHUTRO] ([MACT], [HOTEN], [CMND], [SDT], [DIACHI], [NGAYSINH], [NOICAPCMND]) VALUES (N'CT001', N'NGUYỄN VĂN A', N'67890678', N'987655678 ', N'TÂN PHÚ TPHCM', CAST(0xE2410B00 AS Date), N'TPHCM')
INSERT [dbo].[DANGNHAP] ([MAID], [MATKHAU], [QUYEN], [TINHTRANG], [MACT]) VALUES (N'admin                         ', N'admin', N'admin', 1, N'CT001')
INSERT [dbo].[DATCOC] ([MACOC], [HOTEN], [SDT], [NGAYDAT], [DIACHI], [TIENCOC], [TINHTRANG], [MAPHONG]) VALUES (N'C0001     ', N'NGUYỄN THỊ MÉN', N'0967986868', CAST(0x0B420B00 AS Date), N'18 Nguyễn Sáng P.Tây Thành Quận Tân Phú TPHCM', 1000000, 1, N'PHONG00002')
SET IDENTITY_INSERT [dbo].[DATPHONG] ON 

INSERT [dbo].[DATPHONG] ([ID_HOADON], [HOTEN], [SDT], [EMAIL], [TINHTRANG]) VALUES (1, N'Nguyễn Hữu Trọng', N'0981414329', N'nguyntronger98@gmail.com', 1)
INSERT [dbo].[DATPHONG] ([ID_HOADON], [HOTEN], [SDT], [EMAIL], [TINHTRANG]) VALUES (2, N'Trí', N'0912414643', N'gfdgffgh', 0)
SET IDENTITY_INSERT [dbo].[DATPHONG] OFF
SET IDENTITY_INSERT [dbo].[KHACHTRO] ON 

SET IDENTITY_INSERT [dbo].[KHACHTRO] OFF
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV001', N'TẦNG TRỆT')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV002', N'TẦNG 1')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV003', N'TẦNG 2')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [GIAPHONG], [SONGUOI], [TINHTRANG], [MAKV]) VALUES (N'PHONG00001', N'101', 2000000, 2, N'có người', N'KV002')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [GIAPHONG], [SONGUOI], [TINHTRANG], [MAKV]) VALUES (N'PHONG00002', N'102', 2000000, 2, N'đã đặt cọc', N'KV002')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [GIAPHONG], [SONGUOI], [TINHTRANG], [MAKV]) VALUES (N'PHONG00003', N'103', 2000000, 2, N'trống', N'KV002')
SET IDENTITY_INSERT [dbo].[QUYDINH] ON 

INSERT [dbo].[QUYDINH] ([MA], [NGAY], [NOIDUNG], [MACT]) VALUES (1, CAST(0x0B420B00 AS Date), N'KHÔNG GÂY MẤT TRẬT TỰ, ỒN ÀO, ĐI NHẸ - NÓI KHẼ SAU 21H', N'CT001')
INSERT [dbo].[QUYDINH] ([MA], [NGAY], [NOIDUNG], [MACT]) VALUES (2, CAST(0x0B420B00 AS Date), N'KHÔNG XẢ RÁC HOẶC VIẾT, VẼ BẬY RA TƯỜNG PHÒNG NƠI MÌNH TRỌ VÀ MỌI NƠI KHÁC TRONG NHÀ TRỌ, GIỮ GÌN VỆ SINH HÀNG LANG, LAN CAN, SÂN PHƠI.', N'CT001')
INSERT [dbo].[QUYDINH] ([MA], [NGAY], [NOIDUNG], [MACT]) VALUES (3, CAST(0x0B420B00 AS Date), N'KHÔNG TÙY TIỆN ĐỤNG CHẠM, THÁO GỠ VẬT DỤNG, TRÁNH LÀM HƯ HỎNG.
', N'CT001')
SET IDENTITY_INSERT [dbo].[QUYDINH] OFF
SET IDENTITY_INSERT [dbo].[SUCO] ON 

INSERT [dbo].[SUCO] ([MA], [TIEUDE], [NGAY], [NOIDUNG], [MAPHONG], [TINHTRANG]) VALUES (1, N'PHÒNG 101 HỎNG BÓNG ĐÈN', CAST(0x02420B00 AS Date), N'bóng dèn không có di?n', N'PHONG00001', 0)
INSERT [dbo].[SUCO] ([MA], [TIEUDE], [NGAY], [NOIDUNG], [MAPHONG], [TINHTRANG]) VALUES (2, N'PHÒNG 101 HỎNG BÓNG ĐÈN', CAST(0x02420B00 AS Date), N'bóng dèn không có di?n', N'PHONG00001', 1)
INSERT [dbo].[SUCO] ([MA], [TIEUDE], [NGAY], [NOIDUNG], [MAPHONG], [TINHTRANG]) VALUES (3, N'HƯ HỎNG ĐIỆN TRONG PHÒNG', CAST(0x08420B00 AS Date), N'MỘT SỐ Ổ ĐIỆN KHÔNG HOẠT ĐỘNG', N'PHONG00038', 0)
SET IDENTITY_INSERT [dbo].[SUCO] OFF
SET IDENTITY_INSERT [dbo].[THAYDOINHANKHAU] ON 

SET IDENTITY_INSERT [dbo].[THAYDOINHANKHAU] OFF
INSERT [dbo].[THIETBI] ([MATB], [TENTB]) VALUES (N'TB001', N'BỒN RỬA CHÉN')
INSERT [dbo].[THIETBI] ([MATB], [TENTB]) VALUES (N'TB002', N'CỬA SỔ')
INSERT [dbo].[THIETBI] ([MATB], [TENTB]) VALUES (N'TB003', N'CỬA CÁI')
SET IDENTITY_INSERT [dbo].[THONGBAO] ON 

SET IDENTITY_INSERT [dbo].[THONGBAO] OFF
ALTER TABLE [dbo].[CHITIETPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CTPHONG_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CHITIETPHONG] CHECK CONSTRAINT [FK_CTPHONG_PHONG]
GO
ALTER TABLE [dbo].[CHITIETPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CTPHONG_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CHITIETPHONG] CHECK CONSTRAINT [FK_CTPHONG_THIETBI]
GO
ALTER TABLE [dbo].[CHITITETDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITITETDATPHONG_DATPHONG] FOREIGN KEY([ID_HOADON])
REFERENCES [dbo].[DATPHONG] ([ID_HOADON])
GO
ALTER TABLE [dbo].[CHITITETDATPHONG] CHECK CONSTRAINT [FK_CHITITETDATPHONG_DATPHONG]
GO
ALTER TABLE [dbo].[CHITITETDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITITETDATPHONG_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CHITITETDATPHONG] CHECK CONSTRAINT [FK_CHITITETDATPHONG_PHONG]
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DANGNHAP_CHUTRO] FOREIGN KEY([MACT])
REFERENCES [dbo].[CHUTRO] ([MACT])
GO
ALTER TABLE [dbo].[DANGNHAP] CHECK CONSTRAINT [FK_DANGNHAP_CHUTRO]
GO
ALTER TABLE [dbo].[DATCOC]  WITH CHECK ADD  CONSTRAINT [FK_DATCOC_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[DATCOC] CHECK CONSTRAINT [FK_DATCOC_PHONG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_CHUTRO] FOREIGN KEY([MACT])
REFERENCES [dbo].[CHUTRO] ([MACT])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_CHUTRO]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_PHONG]
GO
ALTER TABLE [dbo].[KHACHTRO]  WITH CHECK ADD  CONSTRAINT [FK_KBNK_HOPDONG] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOPDONG] ([MAHD])
GO
ALTER TABLE [dbo].[KHACHTRO] CHECK CONSTRAINT [FK_KBNK_HOPDONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_KHUVUC] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_KHUVUC]
GO
ALTER TABLE [dbo].[QUYDINH]  WITH CHECK ADD  CONSTRAINT [FK_QUYDINH_CHUTRO] FOREIGN KEY([MACT])
REFERENCES [dbo].[CHUTRO] ([MACT])
GO
ALTER TABLE [dbo].[QUYDINH] CHECK CONSTRAINT [FK_QUYDINH_CHUTRO]
GO
ALTER TABLE [dbo].[SUCO]  WITH CHECK ADD  CONSTRAINT [FK_SUCO_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[SUCO] CHECK CONSTRAINT [FK_SUCO_PHONG]
GO
ALTER TABLE [dbo].[THAYDOINHANKHAU]  WITH CHECK ADD  CONSTRAINT [FK_TDNK_HOPDONG] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOPDONG] ([MAHD])
GO
ALTER TABLE [dbo].[THAYDOINHANKHAU] CHECK CONSTRAINT [FK_TDNK_HOPDONG]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAO_CHUTRO] FOREIGN KEY([MACT])
REFERENCES [dbo].[CHUTRO] ([MACT])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FK_THONGBAO_CHUTRO]
GO
USE [master]
GO
